# format
DATABASE_URL=xxxxxxxx
JWT_SECRET=xxxx
RAZORPAY_KEY_ID=xxxx
RAZORPAY_KEY_SECRET=xxxxx
RAZORPAY_WEBHOOK_SECRET=xxxxx
TWILIO_ACCOUNT_SID=xxxxx
TWILIO_API_KEY_SID=xxxxx
TWILIO_PHONE_NUMBER=xxxxxxx
TWILIO_AUTH_TOKEN=xxxxxx
JWT_SECRET=xxxxx